.container {
  margin-top: 20px;
}

h1 {
  margin-bottom: 10px;
}

mat-form-field {
  margin-bottom: 20px;
  width: 100%;
}

mat-label {
  font-size: 16px;
}

mat-error {
  font-size: 14px;
  color: red;
}

mat-icon-button {
  margin-left: -30px;
}

mat-raised-button {
  margin-top: 20px;
}
