<footer>
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6 text-center text-lg-left">
        <div class="copyright-text">
          <p>
            Copyright &copy; {{ cuurentData | date }} All Right Reserved
            <span class="text-main fw-bold text-capitalize">Mohamed magdy</span>
          </p>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
        <div class="footer-menu">
          <ul>
            <li><a>Home</a></li>
            <li><a>Terms</a></li>
            <li><a>Privacy</a></li>
            <li><a>Policy</a></li>
            <li><a>Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
