:host {
  margin-top: auto;
}
$main-color: rgba(230, 217, 217, 0.099);
ul {
  margin: 0px;
  padding: 0px;
}
footer {
  background: #212121;
  padding: 25px 0;
}

.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}

.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}

.footer-menu li a {
  font-size: 14px;
  color: #878787;
}
